@page "/classes"
@using Application.Services.ClassServices
@using Application.DTOs
@inject NavigationManager Navigation

@inject IClassService ClassService
<h1>
    Class
</h1>
<a class="btn btn-primary" href="/classes/add">Add Class</a>
<table class="table table-striped">
    <tr>
    <th>Id</th>
    <th>Education</th>
    <th>Faculty</th>
    <th>Name</th>
    <th>Status</th>
    </tr>

     @foreach(var classess in classed)
        {
    <tr>
        <td>@classess.Id</td>
        <td>@classess.EducationLevelId</td>
        <td>@classess.FacultyId</td>
        <td>@classess.Name</td>
        <td>@classess.Status</td>

    <td><a href="/classes/@classess.Id" class="btn btn-primary" >View Details</a></td>
    </tr>
    }
</table>

@code{
   
    private List<GetClassDTO> classed = new List<GetClassDTO>();
    protected override void OnInitialized()
    {
        classed= ClassService.GetAllClasses();
    }
}