@page "/students"
@using Application.Services.StudentServices
@using Domain.Entities
@inject NavigationManager Navigation
@inject IStudentService StudentService
<h1>
    Student
</h1>
<a class="btn btn-primary" href="/students/add">Add Student</a>
<table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Date Of Birth</th>
      <th>Reg Number</th>
      <th>Address</th>
      <th>Parent Name</th>
      <th>Parent Phone</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
    @foreach(var student in students){
         <tr>
        <td>@student.Id</td>
        <td>@student.Name</td>
        <td>@student.Sex</td>
        <td>@student.DateOfBirth</td>
        <td>@student.Reg_Number</td>
        <td>@student.Address</td>
        <td>@student.Parent_Name</td>
        <td>@student.Parent_Phone</td>
        <td>@student.Phone</td>
        <td>@student.Email</td>
        <td><a href="/students/@student.Id" class="btn btn-primary" >View Details</a></td>
    </tr>
    }
</table>

@code{

    private List<Student> students = new List<Student>();
    protected override void OnInitialized()
    {
       students= StudentService.GetAllStudents();
    }
}